*{
    margin: 0;
    padding: 0;
    
}



.background{
    background-color: #3E1F92;
    height: 100vh;
    object-fit: cover;

}
.head{
    color: white;
    font-weight: 500;
    font-size: 30px;
    align-items: center;
    text-align: center;
}
.head h3{
    margin-bottom: 10px;
    padding: 10px;
}

.c-icon{
    color: white;
    display: flex;
    font-size: 15px;
    align-items: center ;
    text-align: center;
   justify-content: center;
   margin-top: -40px;
}
.icons{
    margin: 10px;
    padding: 80px;
    margin-top: 50px;
    
    
}
/* inner */

.inner{
    background-color:#3E1F92 ;
   
    justify-content: center;
}

.info{
    background-color: white;
    height: 60vh;
    width: 50%;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 341px;
  
}
.info input{
   
    width: 80%;
    height: 5vh;
    font-family: 'FontAwasome';
}
.info h5{
    color: black;
    font-size: 16px;
    margin-right: 70px;
}
.msg input{
    height: 40vh;
    width: 27vw;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    height: 46vh;
    margin-bottom: 100px;
}

