
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: rgb(219,226,226);
}
.col-lg-5 img{
 margin-left: -12px;;
}
.row{
    background-color: white;
    border-radius: 30px;
    box-shadow: 12px 12px 22px gray;
}
img{
    border-top-left-radius:30px ;
    border-bottom-left-radius:30px ;
    align-self: start;
}
.btn1{
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    color: white;
    background: black;
    border-radius: 4px;
    font-weight: bold;
}
.btn1:hover{
    background: white;
    border: 1px solid ;
    color: black;
}